/* Make an animation to make it glow up and down, use filter */
@keyframes glow {
    0% {
        filter: drop-shadow(0 0 0.5rem black);
    }
    50% {
        filter: drop-shadow(0 0 0.5rem lightblue);
    }
    100% {
        filter: drop-shadow(0 0 0.5rem black);
    }
}

.help3D {
    animation: glow 2s infinite linear;
    border: 2px solid lightblue;
}
