@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

canvas {
    z-index: -1;
}

.view {
    overflow: hidden;
}
