.about-mask {
    animation: changeBackground 3s ease-in-out infinite;
}

@keyframes changeBackground {
    0% {
        background-color: #ce2a2a;
    }
    25% {
        background-color: rgb(229, 158, 77);
    }
    100% {
        background-color: #ce2a2a;
    }
}
